.Title {
    size: 1000px;
    text-align: center;
    padding: 1%;
    border: 5px dotted black;

}
/* .Images {

    
    
/* position: relative;
  right: 100px; */
 /* top: -350px; */
 
.pruthvi{
    display: flex;

}
p {
    display: flex;

 
}

.Images img{
    display: flex;
flex: 1;
    width: 100px;
/* position: relative;
  right: -200px; */
    
    
}
.textContainer {

    display: block;
}

.text1 {
    /* position: relative;
    top: 100px; */
    margin-left: 50px;
    font-size: 11px;
    font-family: 'Courier New', Courier, monospace;
}
.sideText {

    display: flex;
    /* position: relative;
    top: -100px;
    right: -100px; */
    border: 2px solid black;
    padding: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    margin-left: 20px;    
    width: 200px;



}


.text2{
    display: flex;
    position: relative;
    margin: 200px;
    top: 300px;
    font-size: 11px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 50px;
}
.TK{
flex: 1;
  
}
.Bouncy{
    flex: 1;


}
.Ball{

    flex: 1;

}
.content{
    display: flex;
}